[Unit]
Description=Longanisa Maker
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/pi/longanisa-maker/entrypoint.sh
Restart=always
RestartSec=3
User=pi
WorkingDirectory=/home/pi/longanisa-maker

[Install]
WantedBy=multi-user.target
